// SCSS = Sassy CSS
@import './variables/variables.scss';
@import './components/button.scss';
@import './utilities/mixins.scss';

* {
    @include first_reset;
}

:root {
    font-size: $main-font-size;
}

.container {
    width: 100%;
    margin: auto;

    h1 {
        color: $primary-color;
    }
    p {
        font-style: italic;
    }
}