.btn {
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    border: none;

    &-primary {
        background-color: $primary-color;

        &:hover {
            background-color: $primary-color-bold;
        }
    }

    &-blue {
        background-color: #3498db;

        &:hover{
            background-color: #2980b9;
        }
    }
}